@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body {
    background-image: url(./assets/imagens/background-eSport.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color:#121214;
}

header {
  text-align: center;
  margin-top: 32px;
}

header div {
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
  border-radius: 50%;
  display: flex;
  margin: auto;
  padding: 4px;
  width: 120px;
  
  
}

header div img {
  width: 100%;
  border-radius: 50%;
}

/* 
header * {
  border: solid 1px red;
} */

main * {
  font-family: 'Inter', sans-serif;
  
}

main {
  display: grid;
  gap: 24px;
  max-width: 580px;
  width:90%;

  margin: 32px auto;
  
  
}

section {
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
  padding-top: 4px;
  border-radius: 10px;
}

section * {
  color: white;
  line-height: 160%;
}

section div {
  background-color: #2A2634;
  border-radius: 8px;
  padding: 32px;
  padding-top: 24px;

}

section h2 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.47px;
}

section p {
  letter-spacing: -0.18px;
  color: #A1A1AA;
  margin-bottom: 24px;
}
section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;

}

.game-list img {
  width: 90px;
  border-radius: 8px;
}

.channel-list img {
  border-radius: 50%;
  border: 1px solid #443E54;
  width: 70px;
}

